
build/test-results/binary/test/results.bin

build/test-results/binary/test/output.bin.idx

build/test-results/binary/test/output.bin

build/scripts/GradleTest.bat

build/scripts/GradleTest

build/reports/tests/packages/default-package.html

build/reports/tests/js/report.js

build/reports/tests/index.html

build/tmp/.DS_Store

build/reports/tests/css/style.css

build/reports/tests/classes/Tests1.html

build/libs/GradleTest.jar

build/distributions/GradleTest.zip

build/distributions/GradleTest.tar

*.class

build/classes/main/.DS_Store

build/classes/.DS_Store

build/.DS_Store

build/reports/tests/css/base-style.css

.gradle/2.13/taskArtifacts/taskArtifacts.bin

.gradle/2.13/taskArtifacts/fileSnapshots.bin

.gradle/2.13/taskArtifacts/fileHashes.bin

*.lock

.gradle/2.13/taskArtifacts/cache.properties

build/test-results/TEST-Tests1.xml

build/tmp/jar/MANIFEST.MF

.DS_Store
